<div class="title-length">
    {{ if le . 30 }}
    <span class="pre-circle text-red">{{ i18n "titleLength" (dict "number" .)}}</span>
    {{ else if le . 40 }}
    <span class="pre-circle text-orange">{{ i18n "titleLength" (dict "number" .)}}</span>
    {{ else if le . 50 }}
    <span class="pre-circle text-orange">{{ i18n "titleLength" (dict "number" .)}}</span>
    {{ else if le . 60 }}
    <span class="pre-circle text-green">{{ i18n "titleLength" (dict "number" .)}}</span>
    {{ else }}
    <span class="pre-circle text-red">{{ i18n "titleLength" (dict "number" .)}}</span>
    {{ end }}
</div>