{{ define "main" }}
<div class="category-container"> 
    <div>
        <h1>{{ .Title }}</h1>
    </div>
    <section aria-label="{{ i18n "categoryList" }}">
        <ul class="categoriesContainer">
        {{ $paginator := .Paginate .Pages.ByPublishDate.Reverse }}
        {{ range $paginator.Pages }}
        {{ if eq .Type "posts" }}
        {{ partial "post.html" . }}
        {{ else }}
        <li class="categoryContainer">
            <a class="categoryItem" title="{{ .Title }}" aria-label="{{ .Title }}" href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
        {{ end }}
        </ul>
    </section>
</div>
{{ template "_internal/pagination.html" . }}
{{ end }}