{{ define "main" }}
{{ $paginator := .Paginate .Pages.ByPublishDate.Reverse }}
{{ partial "schema/category.html" (dict "paginator" $paginator "context" .) }}
    <div class="category-container-title">
        <div>
            <h1>{{ .Title | humanize }}</h1>
            <a aria-label="{{i18n "rssFeedLink"}}" href="{{printf "%sindex.xml" .Permalink }}" rel="nofollow">{{ partial "rss/category.html" (.Title | humanize) }}</a>
        </div>
    </div> 
    <ul class="cards-container">
    {{ range $paginator.Pages }}
    {{ if eq .Type "posts" }}
    {{ partial "post.html" . }}
    {{ else }}
    <li class="post-preview">
        <a class="categoryItem" title="{{ .Title }}" aria-label="{{ .Title }}" href="{{ .RelPermalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
    {{ end }}
    </ul>
{{ template "_internal/pagination.html" . }}
{{ end }}
