{{ define "main" }}
<div class="page-content-container">
  <article>
    <div class="author-intro">
      <h1>{{ .Params.name }}</h1>
      <img class="author-picture" src="{{ .Params.photo }}" alt="{{.Params.name}}" />
    </div>
    <div class="author-summary">
      <div>
        {{.Params.summary}}
      </div>
    </div>
    <div class="author-social">
      {{ with .Params.twitter }}
      <a href="https://twitter.com/{{ . }}">{{ partial "icon.html" "twitter" }}</a>
      {{ end }}
      {{ with .Params.codewars }}
      <a href="https://codewars.com/users/{{ . }}">{{ partial "icon.html" "codewars" }}</a>
      {{ end }}

      {{ with .Params.instagram }}
      <a href="https://instagram.com/{{ . }}">{{ partial "icon.html" "instagram" }}</a>
      {{ end }}

      {{ with .Params.linkedin }}
      <a href="https://linkedin.com/in/{{ . }}">{{ partial "icon.html" "linkedin-in" }}</a>
      {{ end }}

      {{ with .Params.website }}
      <a href="{{.}}">{{ partial "icon.html" "message" }}</a>
      {{ end }}

    </div>

    {{ .Content }}

  </article>
</div>
{{ end }}