{{ $noPages := .paginator.Pages | len }}
{
    "@type": "Blog",
    "@id": "{{ printf "%s#blog" .context.Site.BaseURL | absURL }}",
    "name": "{{ .context.Site.Title }}",
    "url": "{{ .context.Site.BaseURL | absURL }}",
    "description": "{{ .context.Site.Params.description }}",
    "thumbnailUrl": "{{ .context.Site.Params.Logo | absURL }}",
    "license": "{{ or (.context.Site.Params.copyright) ("© All rights reserved")}}",
    "isPartOf": {
        "@id": "{{printf "%s#website" .context.Site.BaseURL }}"
    },
    "potentialAction": {
        "@type": "SearchAction",
        "target": {
          "@type": "EntryPoint",
          "urlTemplate": "{{ printf "%s%s" (relLangURL "search" | absURL) "?q={q}" }}",
          "actionPlatform": [
            "http://schema.org/DesktopWebPlatform",
            "http://schema.org/MobileWebPlatform"
          ]
        },
        "query-input": "required name={q}"
    },
    "blogPost": [
        {{ range $index, $post := .paginator.Pages }}
        {{ $authors := slice }}
        {{- range $post.Params.authors }}
        {{ $data := (dict "@type" "Person") }}
        {{- with $.context.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
        {{ $data = merge $data (dict "url" .Permalink) }}
        {{end}}
        {{ $data = merge $data (dict "name" .) }}
        {{ $authors = $authors | append $data }}
        {{end}}
        {{ with $post }}
        {
          "@type": "BlogPosting",
          "headline": "{{ .Title }}",
          "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
          "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
          "author": {{ $authors | jsonify  }},
          "description": "{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary  }}{{ end }}{{ end }}",
          "url": "{{.Permalink}}"
        {{ end }}
        }{{ if lt (add 1 $index) $noPages }}, {{ end }}
    {{ end }}
    ]
}