<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@graph": [
    {{ partial "schema/website.html" .context | safeJS }},
    {
      "@type": "CollectionPage",
      "name": "Categories",
      "isPartOf": {
        "@id": {{ (printf "%s#website" .context.Site.BaseURL) | jsonify | safeJS }}
      },
      "hasPart": [
      {{ $noPages := .paginator.Pages | len }}
      {{ range $index, $post := .paginator.Pages }}
        {
          "@type": "ItemPage",
          "@id": {{ printf "%s#post" $post.Page.Permalink }},
          "name": {{ $post.Page.LinkTitle }},
          "url": {{$post.Page.Permalink}}
        }{{ if lt (add 1 $index) $noPages }}, {{ end }}
        {{ end }}
      ]
    }
  ]
}
</script>