<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Blog",
        "name": {{ .Site.Title }},
        "url": {{ .Site.BaseURL | absURL }},
        "description": {{ .Site.Params.description }},
        "thumbnailUrl": {{ .Site.Params.Logo | absURL }},
        "license": {{ or (.Site.Params.copyright) ("© All rights reserved")}},
        "potentialAction": {
            "@type": "SearchAction",
            "target": {
              "@type": "EntryPoint",
              "urlTemplate": {{ printf "%s%s" (relLangURL "search" | absURL) "?q={q}" }},
              "actionPlatform": [
                "http://schema.org/DesktopWebPlatform",
                "http://schema.org/MobileWebPlatform"
              ]
            },
            "query-input": "required name={q}"
          }
    }
</script>