{
    "@type": "Person",
    "@id": "{{ printf "%s#author" .Permalink }}",
    "name": "{{.Params.name }}",
    "url": "{{ .Permalink }}",
    "image": "{{ .Params.photo }}",
    "sameAs": [
        {{ with .Params.twitter }}"https://twitter.com/{{ . }}",{{ end }}
        {{ with .Params.facebook }}"https://facebook.com/{{ . }}",{{ end }}
        {{ with .Params.linkedin }}"https://linkedin.com/in/{{ . }}",{{ end }}
        {{ with .Params.tiktok }}"https://tiktok.com/{{ . }}",{{ end }}
        {{ with .Params.github }}"https://github.com/{{ . }}",{{ end }}
        {{ with .Params.codewars }}"https://codewars.com/users/{{ . }}",{{ end }}
        {{ with .Params.instagram }}"https://instagram.com/{{ . }}"{{ end }}
  ],
  "description": "{{ .Params.summary }}",
  "jobTitle": "{{ .Params.jobTitle }}",
  "worksFor": {
      "@id": "{{ printf "%s#organization" .Site.BaseURL }}"
  },
  "memberOf": {
      "@id": "{{ printf "%s#organization" .Site.BaseURL }}"
  }
}
