{{/* Create a list of all images that use a post and retrieve its urls */}}

{{ $images := slice }}
{{ with $postImages := .Resources.ByType "image" }}
{{ range $postImages }}
{{ $absURL := absURL . }}
{{ $images = $images | append .Permalink }}
{{ end }}
{{end}}

{{/* Iterate through all the authors in a page/post */}}

{{ $authors := slice }}
{{- range .Params.authors }}
{{ $data := (dict "@type" "Person") }}
{{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
{{ $data = merge $data (dict "url" .Permalink) }}
{{ $data = merge $data (dict "@id" (printf "%s#author" .Permalink)) }}
{{end}}
{{ $data = merge $data (dict "name" .) }}
{{ $authors = $authors | append $data }}
{{end}}

{{ $author := or (.Params.author) (.Site.Author.name) }}
{{ $org_name := .Site.Title }}

{{ $idAuthors := slice }}
{{- range .Params.authors }}
{{ $idData := dict }}
{{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
{{ $idData = merge $idData (dict "@id" (printf "%s#author" .Permalink)) }}
{{end}}
{{ $idAuthors = $idAuthors | append $idData }}
{{end}}

{{ $author := or (.Params.author) (.Site.Author.name) }}
{{ $org_name := .Site.Title }}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@graph": [
        {{ partial "schema/webpage.html" . | safeJS }},
        {{ partial "schema/website.html" . | safeJS }},
        {{ partial "schema/organization.html" . | safeJS }},
        {{ partial "schema/blog.html" . | safeJS }},
        {{ partial "schema/breadcrumbs.html" . | safeJS }},
        {{- range .Params.authors }}
        {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
            {{ (partial "schema/person.html" .) | safeJS }},
        {{ end }}
        {{ end }}
        {
            "@type": "BlogPosting",
            "articleSection": {{ .Section }},
            "articleBody": {{.Content | plainify}},
            "name": {{ .Title }},
            "headline": {{ .Title }},
            "alternativeHeadline": {{ .Params.lead }},
            "description": {{ if .Description }}{{ .Description | plainify }}{{ else }}{{if .IsPage}}{{ .Summary | plainify  }}{{ end }}{{ end }},
            "inLanguage": {{ .Site.LanguageCode | default "en-us" }},
            "mainEntityOfPage": {
                "@id": {{ printf "%s#webpage" .Permalink}}
            },
            "isPartOf": {
                "@id": {{ printf "%s#blog" .Site.BaseURL }}
            },
            "author" : {{ $idAuthors | jsonify | safeJS }},
            "creator" : {{ or (.Params.creator) ($idAuthors | jsonify | safeJS) }},
            "accountablePerson" : {{ or (.Params.accountablePerson) ($idAuthors | jsonify | safeJS) }},
            "copyrightHolder" : {{ $idAuthors | jsonify | safeJS }},
            "copyrightYear" : {{ .Date.Format "2006" }},
            "dateCreated": {{ .Date.Format "2006-01-02T15:04:05.00Z" | safeHTML }},
            "datePublished": {{ .PublishDate.Format "2006-01-02T15:04:05.00Z" | safeHTML }},
            "dateModified": {{ .Lastmod.Format "2006-01-02T15:04:05.00Z" | safeHTML }},
            "publisher":{
                "@type":"Organization",
                "name": {{ $org_name }},
                "url": {{ .Site.BaseURL| jsonify | safeJS }},
                "logo": {
                    "@type": "ImageObject",
                    "url": {{ .Site.Params.logo | absURL | jsonify | safeJS }},
                    "width":"32",
                    "height":"32"
                }
            },
            {{/* Removing the double quotes prevents Hugo escaping the diagonals with backslashes  */}}
            "image": {{ $images | jsonify | safeJS }},
            "url" : {{ .Permalink | jsonify | safeJS }},
            "wordCount" : {{ .WordCount }},
            "genre" : [ {{ range $index, $categories := .Params.categories }}{{ if $index }}, {{ end }}{{ $categories }} {{ end }}],
            "keywords" : [ {{ range $index, $keyword := .Params.keywords }}{{ if $index }}, {{ end }}"{{ $keyword }}" {{ end }}],
            "isAccessibleForFree": {{ .Params.isAccessibleForFree | default true }},{{/* Check if audience exists in post, then in config or if not do nothing */}}
            "isFamilyFriendly": {{ .Params.isFamilyFriendly | default true }}{{ if .Params.audience }},
                "audience": {
                    "@type": "Audience",
                    "name": {{.Params.audience}}
                }
            {{ else if .Site.Params.Audience | default false }},
                "audience": {
                    "@type": "Audience",
                    "name": {{.Site.Params.Audience}}
                }
            {{ else }}
            {{ end }}
        }
    ]
}
</script>