.author-info {
    width: 100%;
    background-color: var(--author-info);
    display: flex;
    justify-content: center;
}

.author-container {
    max-width: 64ch;
    padding: 4rem;
}

.author-picture {
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

.author-intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.author-summary {
    margin: var(--margin-2x) 0;
}

.author-social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: var(--margin-2x);
}

.author-read-more {
    padding: var(--padding-2x) 0;
    text-decoration: underline;
}