.categoriesContainer {
    margin: var(--margin-3x) 0;
    display: flex;
    flex-wrap: wrap;
    gap: var(--padding-2x);
    padding: 0;
    max-width: var(--max-char-width);
}

.categoryContainer {
    margin: var(--margin-1x);
    list-style: none;
}

.categoryItem,
.categoryItem:visited {
  color: var(--blue);
  padding: 1rem;
  letter-spacing: 3px;
  text-wrap: nowrap;
}

.category-container {
    margin: var(--margin-1x);
}

.dropdown-categories {
    max-height: 400px;
    overflow-y: scroll;
}

.dropdown-category-item {
    list-style: none;
    margin: 0;
}

.category-list{
    margin: 0;
    padding: 0;
}