.categoriesContainer {
    margin: var(--margin-3x) 0;
    display: flex;
    flex-wrap: wrap;
    gap: var(--padding-2x);
    padding: 0;
    max-width: var(--max-char-width);
}

.categoryContainer {
    margin: var(--margin-1x);
    list-style: none;
}

.categoryItem,
.categoryItem:visited {
  color: var(--white);
  padding: 1rem 3rem;
  border-radius: 40px;
  background-color: var(--blue);
  letter-spacing: 1px;
  text-wrap: nowrap;
}

.category-container {
    margin: var(--margin-1x);
}