#footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    padding: var(--padding-2x);
    color: var(--white);
    background-color: var(--footer);
    padding: 4rem 0;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: var(--padding-1x);
    font-size: var(--small-text);
}

a.footer-link {
    color: var(--white);
}

.credits {
    text-align: center;
    font-size: 0.9rem;
    color: var(--credits);
}

a.credits-link,
a.credits-link:visited {
    color: var(--white);
}

.display-none {
    display: none;
}