#header {
    position: relative;
}


#nav {
    display: flex;
    margin: var(--margin-2x) var(--150rem);
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.nav-menu {
    margin-left: auto;
}

.nav-menu-sidebar {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: var(--margin-2x);
}

.nav-burger {
    visibility: hidden;
}

div.nav-link {
    padding: var(--padding-1x);
    font-size: 1.1rem;
}

a.nav-link {
    padding: var(--padding-1x);
}

.burger-line {
    width: 2rem;
    border-radius: var(--border-radius);
    background-color: var(--main-text);
    height: 3px;
    margin: var(--padding-xs);
}

.site-name {
    font-size: var(--text-3x);
    margin-bottom: 25px;
    line-height: 1em;
}

.site-description {
    font-size: var(--text-2x);
    color: var(--secondary-text);
}

#site-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 var(--150rem);
    margin-bottom: var(--margin-3x);
}

.social-links {
    margin: var(--margin-2x) 0;
    display: flex;
    gap: var(--margin-1x);
}