.message {
    padding: var(--padding-1x);
    margin: var(--margin-1x) 0;
    font-size: 0.95rem;
    border-radius: 6px; 
    font-size: 0.95rem;
    color: var(--white);
}

.info {
    background-color: var(--green);
}

.error {
    background-color: var(--green);
}

.success {
    background-color: var(--green);
}

