.message {
    padding: var(--padding-1x);
    margin: var(--margin-1x) 0;
    font-size: 0.95rem;
    border-radius: 6px; 
    font-size: 0.95rem;
    color: var(--white);
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.info {
    background-color: var(--blue);
}

.error {
    background-color: var(--red);
}

.success {
    background-color: var(--green);
}

.message > .markdown-link {
    color: var(--white);
}

