.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--padding-2x);
    margin-bottom: var(--margin-3x);
}

.site-info-container{
    max-width: 64ch;
}

a.markdown-link,
a.markdown-link:visited {
    transition: var(--transition);
    color: var(--blue);
    text-decoration: underline;
}

a.markdown-link:hover {
    color: var(--background);
    background-color: var(--blue);
    transition: var(--transition);
}

.page-content-container {
    display: grid;
    place-content: center;
    max-width: var(--max-char-width);
    margin: var(--padding-1-5rem);
}


.post-container {
    grid-area: post-container;
}

.left-panel {
    grid-area: left-panel;
}

.right-panel {
    grid-area: right-panel;
    position: relative;
}

.sticky {
    position: sticky;
    top: 0;
    padding: var(--padding-1x);
}

.page-content-container h1, .post h1 {
    font-size: 3rem;
    line-height: 1.35;
}

.page-content-container p, .post p {
    font-size: 1.25rem;
    line-height: 2.0;
}

.page-content-container h2, .post h2 {
    font-size: 2.0rem;
    line-height: 1.6;
}

.page-content-container h3, .post h3 {
    font-size: 1.7rem;
    line-height: 1.6;
}


.post-preview {
    display: flex;
    flex-direction: row;
    max-width: 450px;
    margin: var(--margin-1x);
}

.post-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 40px;
}

.post-metadata-container {
    background-color: var(--white);
    padding: var(--padding-2x);
}

.flexible {
    flex-grow: 1;
    background-color: var(--white);
}

.post-info {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    color: var(--main-text);
    padding: 0 var(--padding-1x);
}

.post-card-metadata {
    font-size: 0.95rem;
    padding: var(--padding-1x);
    background-color: var(--background);
    color: var(--secondary-text);
    padding-bottom:0;
}

.post-card-summary{
    font-size: 0.95rem;
    padding: var(--padding-1x);
    color: var(--secondary-text);
    background-color: var(--background);
}

.post-info h2 {
    font-size: 1.3rem;
}

.post-categories {
    display: flex;
    flex-wrap: wrap;
    gap: var(--padding-1x);
    padding: 0.5rem 0;
}

a.post-category {
    color: var(--post-category);
    font-size: var(--small-text);
    border-radius: var(--border-radius);
    margin-right: var(--padding-xs);
    letter-spacing: 1px;
}

.page-name {
    font-size: var(--text-2x);
}

.category {
    color: var(--main-text);
    padding: var(--padding-2x) 0;
    margin: var(--margin-2x) 0;
}

.responsive-image {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.md-image {
    object-fit: contain;
    max-width: 100%;
    height: auto;
}

.cover-image-container {
    display: flex;
    /* This is the proportion from a image that's 1200x630 reduced to 500x(n). Set manually to prevent cumulative layout shift*/
    min-height: 273.467px;
}

.btn-info {
    color: var(--main-text);
    background-color: var(--background);
    padding: var(--padding-1x) var(--padding-2x);
    border: 1px solid var(--main-text);
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: var(--text-1x);
}

::selection,
::-moz-selection {
    color: var(--dark);
    background: var(--yellow);
}

.nav-menu-ul {
    display:flex;
    gap: 1rem;
    list-style: none;
}

