@media (max-width: 768px) {
    #main {
        padding: var(--padding-1x);
    }

    .nav-menu {
        visibility: hidden;
    }

    .nav-burger {
        visibility: visible;
    }

    body {
        font-family: "Arimo", sans;
    }

    .post-preview {
        width: 100%;
        height: auto;
    }

    .post-info {
        background-color: transparent;
        position: relative;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .post-preview-desktop {
        display: none
    }
}

@media (min-width: 768px) {
    #sidebar {
        transform: translateX(100vw);
    }

    .read-more {
        display: none;
    }

    .post-summary {
        display: none;
    }

    .post-preview-mobile {
        display: none;
    }
}