@media (max-width: 768px) {

    body {
        font-family: Sans-Serif, "Arimo", sans;
        font-size: 1rem;
    }

    .nav-menu {
        display: none;
    }

    .nav-burger {
        visibility: visible;
    }

    .author-container {
        padding: 4rem var(--padding-1-5rem);
    }

}

@media (min-width: 768px) {
    #sidebar {
        transform: translateX(100vw);
    }

    .read-more {
        display: none;
    }

    .post-summary {
        display: none;
    }
}

@media (max-width: 967px) {
    .sticky {
        display: none;
    }
}