@media (max-width: 768px) {

    body {
        font-family: Sans-Serif, "Arimo", sans;
        font-size: 1rem;
    }

    .content-container {
        margin: var(--padding-xs);
        grid-template-areas:
            "post-container post-container post-container";
        grid-gap: var(--padding-1x);
        padding: var(--padding-1x);
    }

    .nav-menu {
        visibility: hidden;
    }

    .nav-burger {
        visibility: visible;
    }

}

@media (min-width: 768px) {
    #sidebar {
        transform: translateX(100vw);
    }

    .read-more {
        display: none;
    }

    .post-summary {
        display: none;
    }
}

@media (max-width: 967px) {
    .sticky {
        display: none;
    }
}