.post-metadata {
    font-size: var(--small-text);
}

.reading-time {
    display: inline-block;
    color: var(--secondary-text);
}

.author-miniature {
    width: 25px;
    height: 25px;
    border-radius: 100%;
}

.author-item {
    display: flex;
}

.author-metadata-image {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.i18n-list {
    display: flex;
    gap: 0.3rem;
}