.next-prev-links {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.next-prev {
    margin-bottom: var(--margin-2x);
    color: var(--main-text);
    cursor: pointer;
}

.previous-link {
    text-align: right;
    max-width: 200px;
}

.next-link {
    text-align: left;
    max-width: 200px;
}