.next-prev-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.next-prev {
    margin-bottom: var(--margin-2x);
    color: var(--main-text);
    background-color: var(--background);
    padding: var(--padding-1x) var(--padding-2x);
    border: 1px solid var(--main-text);
    border-radius: var(--border-radius);
    cursor: pointer;
}
