.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: var(--button-text);
    list-style: none;
    margin: var(--margin-1x) 0;
    width: 100%;
    padding-left: 0;
}

.page-item {
    background-color: transparent;
    color: var(--button);
    margin: 10px;
    width: 50px;
    height: 50px;
}

a.page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

.page-item:hover {
    color: var(--blue);
    border-bottom: 1px solid var(--button);
    opacity: 0.8;
}

.page-item.active {
    color: var(--blue);
    border-bottom: 1px solid var(--button);
}

.page-item.disabled {
    display: none;
}


@media (max-width: 768px) {
    .page-item {
        width: 15px;
        height: 15px;
    }

}