.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: var(--button-text);
    list-style: none;
    margin: var(--margin-3x) 0;
    width: 100%;
}

.page-item {
    background-color: transparent;
    color: var(--button);
    border: 1px solid var(--button);
    margin: 8px;
    border-radius: var(--border-radius);
    width: 60px;
    height: 60px;
}

a.page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

.page-item:hover {
    color: var(--white);
    background-color: var(--button);
    opacity: 0.8;
}

.page-item.active {
    color: var(--background);
    background-color: var(--button);
}

.page-item.disabled {
    display: none;
}