.prePostAffiliate {
    margin: 3rem 0;
}

.sponsored {
    opacity: 0.7;
}

.prePostAffiliateButton {
    background: linear-gradient(109.6deg, rgb(69, 179, 224) 11.2%, rgb(102, 51, 153) 100.2%);
    padding: var(--padding-1x) var(--padding-2x);
    color: var(--white);
    border-radius: 45px;
}

.prePostAffiliateButton:hover {
    transform: translateY(2px);
}