.related-content {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    gap: var(--margin-2x);
}

.related-content-item {
    max-width: 300px;
}

.related-content-link {
    display: block;
    color: var(--main-text);
}