#search-input {
    padding: 0.8rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--footer);
    margin: var(--margin-2x) 0;
}

#search-input:focus {
    outline: 2px solid var(--blue);
    border: 1px solid var(--blue);
}

.search-icon {
    fill: var(--main-text);
}

.search-content {
    max-width: var(--max-char-width);
    text-align: center;
}

a.search-item-title {
    color: var(--blue);
}

.search-results {
    padding: var(--padding-1x);
    max-width: var(--max-char-width);
}