#search-input {
    padding: 0.8rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--secondary-text);
    margin: var(--margin-2x) 0;
    width: var(--max-char-width);
}

#search-input:focus {
    outline: 2px solid var(--blue);
    border: 1px solid var(--blue);
}

.search-icon {
    fill: var(--main-text);
}

.search-content {
    max-width: var(--max-char-width);
    padding: var(--padding-1x);
}

a.search-item-title {
    color: var(--blue);
}

.search-results {
    max-width: var(--max-char-width);
}

.language-solid-icon {
    fill: var(--main-text);
}