#sidebar {
    position: fixed;
    width: 60vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--transparent-sidebar);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    visibility: visible;
    transition: var(--transition);
    box-shadow: -5px 0px 21px -4px rgba(0, 0, 0, 0.76);
    -webkit-box-shadow: -5px 0px 21px -4px rgba(0, 0, 0, 0.76);
    -moz-box-shadow: -5px 0px 21px -4px rgba(0, 0, 0, 0.76);
}


.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: var(--margin-1x);
    content: ' ';
    height: 2rem;
    width: 2px;
    background-color: var(--main-text);
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.sidebarHidden {
    transform: translateX(100vw);
}

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.8;
}