.social-icon {
    width: var(--icon-size);
}

.twitter-icon {
    fill: #00acee;
}

.instagram-icon {
    fill: #C13584;
}

.linkedin-in-icon {
    fill: #0e76a8;
}

.codewars-icon {
    fill: #b1361e;
}

.message-icon {
    fill: #7eff9c;
}

.rss-icon {
    fill: #E87D25;
}

.icon-container {
    display: flex;
    gap: var(--padding-1x);
    background-color: transparent;
    border-radius: 4px;
    color: #E87D25;
    font-size: 1rem;
}