:root {
    --white: #FFF;
    --title: #161620;
    --dark: #111;
    --blue: #326DF5;
    --red: #B82019;
    --overlay: #181818DD;
    --background: var(--white);
    --transparent-sidebar: #FFFFFFed;
    --main-text: #292a2a;
    --secondary-text: #696869;
    --text-background: var(--white);
    --footer: var(--dark);
    --blue-transparent: #071f37fa;
    --padding-2x: 2rem;
    --padding-1x: 1rem;
    --padding-xs: 0.5rem;
    --margin-1x: 1rem;
    --margin-2x: 2rem;
    --border-radius: 4px;
    --text-2x: 1.5rem;
    --text-3x: 3rem;
    --text-1x: 1rem;
    --small-text: 0.9rem;
    --icon-size: 1.5rem;
    --max-char-width: 64ch;
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

[data-theme="dark"] {
    --white: #FFF;
    --dark: #111;
    --blue: #326DF5;
    --red: #B82019;
    --title: var(--white);
    --background: #1c1c1c;
    --transparent-sidebar: #151515ed;
    --main-text: var(--white);
    --secondary-text: #A2A2A2;
    --text-background: var(--white);
    --footer: var(--dark);
    --overlay: #181818DD;
    --blue-transparent: #071f37fa;
    --padding-2x: 2rem;
    --padding-1x: 1rem;
    --padding-xs: 0.5rem;
    --margin-1x: 1rem;
    --margin-2x: 2rem;
    --border-radius: 4px;
    --text-2x: 1.5rem;
    --text-3x: 3rem;
    --small-text: 0.9rem;
    --icon-size: 1.5rem;
    --max-char-width: 64ch;
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito.woff2') format('woff2');
    font-display: fallback;
}

html,
body {
    margin: 0;
    padding: 0;
    line-height: 2rem;
    font-family: "Nunito", "Arimo", sans;
    font-size: 1.1rem;
}

a,
a:visited {
    color: var(--main-text);
    text-decoration: none;
}

body {
    height: 100vh;
    background-color: var(--background);
    color: var(--main-text);
}

img {
    object-fit: cover;
    max-width: 100%;
}

pre {
    overflow-x: auto;
    padding: var(--padding-2x) 0 var(--padding-2x) var(--padding-2x);
    font-size: var(--small-text);
    /* prevent code from overflowing in small screens */
    white-space: pre-wrap;
    word-break: break-all;
}

#hamburger-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


article {
    max-width: var(--max-char-width);
    margin: var(--padding-2x) 0;
    /* this prevents posts with long urls and codes to overflow article div */
    word-break: break-word;
}

a.markdown-link,
a.markdown-link:visited {
    color: var(--blue);
}

.post-categories {
    margin: var(--margin-1x) 0;
    color: var(--white);
}

a.post-category {
    color: var(--white);
    background-color: var(--blue);
    font-size: var(--small-text);
    padding: 0.5rem;
    border-radius: var(--border-radius);
    margin-right: 0.5rem;
}

.featured-image {
    object-fit: cover;
    width: 100%;
    height: auto;
}

#site-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-1x);
}

.page-name {
    font-size: var(--text-2x);
}

.site-name {
    font-size: var(--text-3x);
    margin-bottom: 25px;
    line-height: 1em;
}

.summary a {
    color: var(--blue);
}

.site-description {
    font-size: var(--text-2x);
    color: var(--secondary-text);
}

#header {
    position: relative;
}

#footer {
    display: flex;
    height: 200px;
    align-items: center;
    color: var(--white);
    background-color: var(--footer);
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: var(--padding-2x);
}

#nav {
    display: flex;
    padding: var(--padding-2x) var(--padding-1x);
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    margin-left: auto;
}

.nav-menu-sidebar {
    display: flex;
    flex-direction: column;
}

.nav-burger {
    visibility: hidden;
}

.theme-toggle {
    margin: 0 var(--margin-1x);
}


a.nav-link {
    padding: var(--padding-1x);
}

.post-metadata {
    color: var(--secondary-text);
    font-size: var(--small-text);
    margin: var(--margin-1x) 0;
}

.reading-time {
    display: inline-block;
    border: 1px solid var(--secondary-text);
    padding: 0 var(--padding-xs);
    border-radius: var(--border-radius);
}

.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: var(--blue);
    list-style: none;
}

.page-item {
    background-color: var(--background);
    border: 1px solid var(--blue);
    margin: 8px;
    border-radius: var(--border-radius);
    width: 60px;
    height: 60px;
}

a.page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

.page-item:hover {
    background-color: var(--blue);
    opacity: 0.7;
}

.page-item.active {
    background-color: var(--blue);
}

.page-item.disabled {
    display: flex;
    justify-content: center;
    align-items: center;
}

.read-more {
    color: var(--main-text);
    background-color: var(--background);
    padding: var(--padding-1x) var(--padding-2x);
    border: 1px solid var(--main-text);
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: var(--text-1x);
}

.next-prev-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.next-prev {
    margin-top: var(--margin-2x);
    color: var(--main-text);
    background-color: var(--background);
    padding: var(--padding-1x) var(--padding-2x);
    border: 1px solid var(--main-text);
    border-radius: var(--border-radius);
    cursor: pointer;
}


#toggle-switch:checked+label {
    background-color: var(--white);
}

#toggle-switch:checked+label:before {
    box-sizing: border-box;
    transform: translateX(1.5rem);
    background-color: var(--background);
}

#toggle-switch {
    display: none;
}

#toggle-label {
    display: flex;
    width: 3rem;
    height: 1.5rem;
    border: 2px solid var(--title);
    border-radius: 99em;
    position: relative;
    transform-origin: 50% 50%;
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#toggle-label:hover {
    cursor: pointer;
}

#toggle-label:before {
    box-sizing: border-box;
    content: "";
    display: block;
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    background-color: var(--footer);
    border-radius: 50%;
    top: 3px;
    left: 3px;
}

.burger-line {
    width: 2rem;
    border-radius: var(--border-radius);
    background-color: var(--main-text);
    height: 3px;
    margin: 0.5rem;
}

#sidebar {
    position: fixed;
    width: 60vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--transparent-sidebar);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    visibility: visible;
    transition: var(--transition);
}

.sidebarHidden {
    transform: translateX(100vw);
}

.close {
    color: var(--white);
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.8;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: var(--margin-1x);
    content: ' ';
    height: 2rem;
    width: 2px;
    background-color: var(--white)
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.scroll-up {
    position: fixed;
    bottom: 32px;
    right: 32px;
    background-color: var(--blue);
    border-radius: var(--border-radius);
    padding: var(--padding-1x);
}

.scroll-up.hidden {
    visibility: hidden;
}

.categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: var(--max-char-width);
    padding: var(--padding-2x) var(--padding-1x);
    gap: 0 var(--padding-1x);
}

.category {
    color: var(--main-text);
}

#footer {
    padding: var(--padding-2x);
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: var(--padding-1x);
    font-size: var(--small-text);
}

a.footer-link {
    color: var(--white);
}

.related-content-container {
    max-width: var(--max-char-width);
}

.related-content {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.related-content-item {
    margin: 2rem;
    width: 300px;
}

.related-content-link {
    color: var(--main-text);
}

@media (max-width: 768px) {
    #main {
        padding: var(--padding-1x);
    }

    .nav-menu {
        visibility: hidden;
    }

    .nav-burger {
        visibility: visible;
    }

    body {
        font-family: "Arimo", sans;
    }
}

@media (min-width: 768px) {
    #sidebar {
        transform: translateX(100vw);
    }
}

.social-icon {
    width: var(--icon-size);
    padding-right: var(--padding-1x);
    padding-top: var(--padding-1x);
}

.twitter-icon {
    fill: #00acee;
}

.instagram-icon {
    fill: #C13584;
}

.linkedin-in-icon {
    fill: #0e76a8;
}

.codewars-icon {
    fill: #b1361e;
}

.search-content {
    max-width: var(--max-char-width);
}

.search-icon {
    fill: var(--main-text);
}

#search-input {
    padding: 0.8rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--footer);
}

#search-input:focus{
    outline: 2px solid var(--blue);
    border: 1px solid var(--blue);
}

.toggle-theme-icon.arrow-up-icon {
    fill: #FFF;
    display: block;
    margin: auto;
}

.toggle-theme-icon {
    width: 1rem;
    fill: var(--footer);
}

a.search-item-title {
    color: var(--blue);
}