
#subscribe-form-container {
    color: var(--white);
    padding: 2rem 4rem;
    background: rgb(3, 52, 95);
    background: -moz-linear-gradient(90deg, rgba(3, 52, 95, 1) 0%, rgb(44, 118, 176) 100%);
    background: -webkit-linear-gradient(90deg, rgba(3, 52, 95, 1) 0%, rgb(44, 118, 176) 100%);
    background: linear-gradient(90deg, rgba(3, 52, 95, 1) 0%, rgb(44, 118, 176) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#03345f", endColorstr="#004275", GradientType=1);
    border-radius: var(--border-radius);
    margin: var(--margin-1x) 0;
}

.subscribe-input {
    display: block;
    padding: var(--padding-1x) 0;
    width: 100%;
    margin: var(--padding-1x) 0;
    text-indent: var(--padding-1x);
}

.subscribe-button {
    padding: var(--padding-1x);
    background-color: var(--blue);
    color: var(--white);
    border-radius: var(--border-radius);
    margin: var(--margin-1x) 0;
}


.mailchimp-outside {
    /* this is just to respect malchimp form original format
    I don't agree on this */
    position: absolute;
    left: -5000px;
}
