#mc-embedded-subscribe-form {
    color: var(--white);
    padding: var(--padding-1x) var(--padding-2x);
    border-radius: var(--border-radius);
    margin: var(--margin-1x) 0;
    font-size: 1.2rem;
}

.subscribe-input {
    display: block;
    padding: var(--padding-1x) 0;
    width: 100%;
    margin: var(--padding-1x) 0;
    text-indent: var(--padding-1x);
    border-radius: var(--border-radius);
    border: 0px;
}

.subscribe-btn {
    padding: var(--padding-1x);
    border-radius: var(--border-radius);
    margin: var(--margin-1x) 0;
    font-weight: bold;
    width: 100%;
}

.subscribe-btn.send {
    background-color: var(--yellow);
    color: var(--dark);
    cursor: pointer;
}

.subscribe-btn:hover {
    transform: translateY(-3px);
}


.subscribe-btn.close-modal {
    color: var(--white);
    background: transparent;
}


.mailchimp-outside {
    /* this is just to respect malchimp form original format
    I don't agree on this */
    position: absolute;
    left: -5000px;
}

.subscribe-banner {
    width: 100%;
    padding: 2rem 0;
    font-size: var(--small-text);
    position: sticky;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 9;
    color: var(--white);
    backdrop-filter: blur(10px);
}

.subscribe-input-group {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#subscribe-form-close-icon {
    float: right;
}

#subscribe-form-close-icon.close:after,
#subscribe-form-close-icon.close:before {
    /* overrides close icon background-color that changes with the theme */
    background-color: var(--white);
}

.show-banner-text {
    padding: 0 var(--padding-2x);
    font-size: 1.2rem;
    font-family: Nunito;
}

.subscribe-message-and-button {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
}

.subscribe-banner-button {
    padding: var(--padding-1x) var(--padding-2x);
    border: 1px solid var(--white);
    background-color: transparent;
    color: var(--white);
    border-radius: var(--border-radius);
    margin: var(--margin-2x);
}

.clear {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}