#mc-embedded-subscribe-form {
    color: var(--white);
    padding: var(--padding-1x) var(--padding-2x);
    background: rgb(135, 1, 43);
    background: linear-gradient(90deg, rgba(135, 1, 43, 1) 0%, rgba(207, 0, 19, 1) 85%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#03345f", endColorstr="#004275", GradientType=1);
    border-radius: var(--border-radius);
    margin: var(--margin-1x) 0;
}

.subscribe-input {
    display: block;
    padding: var(--padding-1x) 0;
    width: 100%;
    margin: var(--padding-1x) 0;
    text-indent: var(--padding-1x);
    border-radius: var(--border-radius);
    border: 0px;
}

.subscribe-button {
    padding: var(--padding-1x);
    background-color: var(--white);
    color: var(--dark);
    border-radius: var(--border-radius);
    margin: var(--margin-1x) 0;
}


.mailchimp-outside {
    /* this is just to respect malchimp form original format
    I don't agree on this */
    position: absolute;
    left: -5000px;
}

.subscribe-banner {
    width: 100%;
    padding: 2rem 0;
    font-size: var(--small-text);
    position: sticky;
    bottom: 0;
    background: rgb(135, 1, 43);
    background: linear-gradient(90deg, rgba(135, 1, 43, 1) 0%, rgba(207, 0, 19, 1) 85%);
    z-index: 9;
    color: var(--white);
}

.subscribe-input-group {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#subscribe-form-close-icon {
    float: right;
}

#subscribe-form-close-icon.close:after, #subscribe-form-close-icon.close:before {
    /* overrides close icon background-color that changes with the theme */
    background-color: var(--white);
}

.show-banner-text {
    padding: 0 var(--padding-2x);
    font-size: 1.2rem;
}

.subscribe-message-and-button{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
}

.subscribe-banner-button{
    padding: var(--padding-1x) var(--padding-2x);
    border: 1px solid var(--white);
    background-color: transparent;
    color: var(--white);
    border-radius: var(--border-radius);
    margin: var(--margin-2x);
}

