{{ define "main" }}
{{ partial "schema/post.html" . }}
<div class="page-content-container">
    <div class="post-container">
        {{ partial "affiliate/prePost.html" . }}
        <section aria-label="{{i18n "tableOfContents"}}" class="post-toc">
            {{ partial "toc.html" . }}
        </section>
        <article class="post">
            <h1>{{ .Title }}{{ partial "draft.html" . }}</h1>
            {{ partial "metadata.html" . }}
            <div class="content">{{ .Content }}</div>
        </article>
        <div class="next-previous-links">
            {{ partial "nextPreviousLinks.html" . }}
            {{ partial "relatedContent.html" . }}
        </div>
    </div>
</div>
{{ partial "authorInfo.html" . }}
{{ end }}