{{ define "main" }}
<div class="content-container">
    <div class="left-panel"></div>
    <div class="post-container">
        <section aria-label="table-of-contents" class="post-toc">
            {{ partial "toc.html" . }}
        </section>
        <article class="post">
            <h1>{{ .Title }}</h1>
            {{ partial "metadata.html" . }}
            <div class="content">{{ .Content }}</div>
        </article>
        <div class="next-previous-links">
            {{ partial "nextPreviousLinks.html" . }}
            {{ partial "relatedContent.html" . }}
        </div>
    </div>
    <aside class="right-panel">
    </aside>
</div>
{{ partial "authorInfo.html" . }}
{{ end }}