{{ with .Params.authors }}
<section class="author-info">
    <div class="author-container">
        {{- range . }}
        {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
        {{ $image := resources.GetRemote .Params.photo }}
        {{ $image :=$image.Process "resize 120x" }}
        <figure>
            <img class="author-picture" loading="lazy" src="{{ $image.Permalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="{{ .Params.name }}" />
            <figcaption>
            </figcaption>
        </figure>
        <a rel="author" aria-label="{{.Params.name}} {{ i18n "ariaLabelAuthor"}}" href="{{ .Permalink }}">
            <h3>{{ .Params.name }}</h3>
        </a>
        <div class="author-summary">{{ .Params.summary }}</div>
        <a class="author-read-more" href="{{ .Permalink }}">{{ i18n "readMore"}}</a>
        {{ end }}
        {{ end }}
    </div>
</section>
{{ end }}