<div class="author-list">
    {{- range .Params.authors }}
    {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
    <div class="author-item">
        <div class="author-metadata-image">
            <img class="author-miniature" src="{{ .Params.photo }}" alt="" />
        </div>
        <div class="author-link">
            <a rel="author" itemprop="author" itemscope itemtype="http://schema.org/Person" title="{{.Params.name}}" aria-label="{{.Params.name}} {{ i18n "ariaLabelAuthor"}}" href="{{ .Permalink | absLangURL }}"><span itemprop="name">{{ .Params.name }}</span></a>
        </div>
    </div>
    {{ end }}
    {{ end }}
</div>

</cite>