<header class="header">
    <nav id="nav">
        <div class="nav-burger">
            x
        </div>
        <div class="nav-menu">
            {{ range .Site.Menus.main }}
            <a class="nav-link" href="{{ .URL }}">
                {{ $text := print .Name | safeHTML }}
                {{ $text }}
            </a>
            {{ end }}
        </div>
    </nav>
    <div id="site-info">
        <div class="site-info-container">
            <p class="site-name">{{ .Site.Title }}</p>
            <h1 class="site-description">Blog de desarrollo web backend y frontend</h1>
        </div>
    </div>
</header>