<header id="header">
    {{ partial "asideMenu.html" . }}
    {{ partial "scrollUpButton.html" . }}
    <nav id="nav" role="navigation" aria-label="Main menu">
        {{ partial "burgerIcon.html" }}
        {{ partial "navMenu.html" . }}
        {{ if not .Site.Params.latte.disablesearch  }}
            <div>
                <a href="/search/" aria-label="search">{{ partial "icon.html" "search"}}</a>
            </div>
        {{ end }}
        <div class="theme-toggle"> {{ partial "themeSwitch.html" . }}
        </div>
    </nav>
    <div id="site-info">
        <section class="site-info-container">
            <p class="site-name">{{ .Site.Title }}</p>
            <h1 class="site-description">{{ .Site.Params.latte.description }}</h1>
            {{ partial "socialIcons.html" . }}
        </section>
    </div>
</header>