<section aria-label="Next and previous links" class="next-prev-links">
    <!-- we should check whether Next and Prev exist before hand, otherwise pagination could create an uncrawlable link -->
    {{ if .NextInSection}}<a href="{{with .NextInSection}}{{.Permalink}}{{end}}"><button class="next-prev">{{ i18n "next"}}</button></a>{{ end }}
    {{ if .PrevInSection}}<a href="{{with .PrevInSection}}{{.Permalink}}{{end}}"><button class="next-prev">{{ i18n "previous"}}</button></a>{{ end }}
</section>