<div class="post-card">
    {{ if .Params.coverImage }}
    {{ $path := .Params.coverImage }}
    {{ $image := .Resources.GetMatch $path }}
    <div class="cover-image-container">
        <a class="featured-img-link" aria-label="{{.Params.title}}" href="{{.RelPermalink }}">
            <!-- Create a responsive image based on srcset and picture tag -->
            {{ partial "responsiveImage.html" $image }}
        </a>
    </div>
    {{ end }}
    <section class="post-card-metadata">
        {{ partial "authors.html" . }}
        {{ partial "categories.html" . }}
    </section>
    <div class="post-info">
        <h2>
            <a class="post-info-link" aria-label="{{.Params.title}}" href="{{.RelPermalink }}">
                {{ .Title }}
            </a>
        </h2>
    </div>
    <div class="post-card-summary flexible">{{.Summary | safeHTML | truncate 120}}</div>
</div>