<div class="post-preview-desktop">
    {{ if .Params.coverImage }}
    {{ $path := .Params.coverImage }}
    {{ $image := .Resources.GetMatch $path }}
    <a class="featured-img-link" aria-label="post link" href="{{.RelPermalink }}">
        <div class="cover-image-container">
            <!-- Create a responsive image based on srcset and picture tag -->
            {{ partial "responsiveImage.html" $image }}
        </div>
    </a>
    {{ end }}
    <div class="post-info">
        <h2>
            <a class="post-info-link" aria-label="post link" href="{{.RelPermalink }}">
                {{ .Title }}
            </a>
        </h2>
        <div class="post-metadata-container">
            {{ partial "metadata.html" . }}
        </div>
        {{ partial "coverImageCredit.html" . }}
    </div>
</div>