<article class="post-preview">
    <a class="post-title" href="{{ .RelPermalink }}">
        <h2>{{ .Title }}</h2>
    </a>
    {{ partial "metadata.html" . }}
    <a class="post-featured-image" href="{{ .RelPermalink }}" aria-label="featured image">
        <!-- Every post should have folder called images that contains its respective images -->
        {{ $path := printf "images/%s" .Params.coverImage }}
        <!-- GetMatch allows us to get a resource inside a post folder -->
        {{ $image := .Resources.GetMatch $path }}
        <!-- Create a responsive image based on srcset and picture tag -->
        {{ partial "responsiveImage.html" $image }}
    </a>
    <p class="summary">{{ .Summary }}</p>
    <a class="post-read-more" href="{{ .RelPermalink }}" aria-label="read more">
        <button class="read-more">Leer más</button>
    </a>
</article>

