{{ $related := .Site.RegularPages.Related . | first 6 }}
{{ with $related }}
<h3>{{ i18n "relatedContent" }}</h3>
<section aria-label="Related content" class="related-content-container">
    <ul class="related-content">
        {{ range . }}
        <!-- Create a responsive image based on srcset and picture tag -->
        <li class="related-content-item">
            <a class="related-content-link" aria-label="{{.Title}}" title="{{.Title}}" href="{{ .RelPermalink }}">
                {{ if .Params.coverImage }}
                <!-- GetMatch allows us to get a resource inside a post folder -->
                {{ $image := .Resources.GetMatch .Params.coverImage }}
                {{ partial "responsiveImage.html" $image }}
                {{ end }}
                {{ .Title }}
            </a>
        </li>
        {{ end }}
    </ul>
</section>
{{ end }}