{{ $related := .Site.RegularPages.Related . | first 6 }}
{{ with $related }}
<h3>{{ i18n "relatedContent" }}</h3>
<section class="related-content-container">
    <ul class="related-content">
        {{ range . }}
        <!-- GetMatch allows us to get a resource inside a post folder -->
        {{ $image := .Resources.GetMatch .Params.coverImage }}
        <!-- Create a responsive image based on srcset and picture tag -->
        <li class="related-content-item">
            <a class="related-content-link" href="{{ .RelPermalink }}">
                {{ partial "responsiveImage.html" $image }}
                {{ .Title }}
            </a>
        </li>
        {{ end }}
    </ul>
</section>
{{ end }}