<!-- This sizes are completely arbitrary -->
{{ $image480 := .Resize "480x q90" }}
{{ $image768 := .Resize "768x q90" }}
{{ $image1200 := .Resize "1200x q90" }}
<picture>
    <source srcset="{{$image480.RelPermalink }}" media='(max-width: 480px)' />
    <source srcset="{{$image480.RelPermalink }}" media='(max-width: 768px)' />
    <source srcset="{{$image768.RelPermalink}}" media='(max-width: 1200px)' />
    <img class="responsive-image" loading="lazy" src="{{ .RelPermalink }}" alt="" />
</picture>