<!-- TODO set default image -->
<!-- All images are inside their own post's image folder -->
{{ $imageUrl := (printf "%s%s" .RelPermalink .Params.coverImage ) | absURL }}
<!-- The description in the SEO has the following priority: description in content -> summary (as default) -> site description -->
{{ $entryDescription := .Description | default .Summary }}
{{ $description := $entryDescription | default .Site.Params.latte.seodescription }}
<!-- og requires ISO 8601 date format -->
{{ $dateTime := .PublishDate.Format "2006-01-02T15:04:05Z0700" }}
{{ $lastMod := .Lastmod.Format "2006-01-02T15:04:05Z0700" }}


{{ $author := .Params.author | default $.Site.Params.author }}

<meta name="title" content="{{ .Title }}"/>
<meta name="description" content="{{ $description }}"/>
<meta name="author" content="{{ $author }}" />

<!-- Open Graph / Facebook -->

{{ $ogType := .Type }}

<!-- if type is post or posts -->
{{ if eq ($ogType | pluralize) "posts" }}
{{ $ogType = "article" }}
{{ else }}
{{ $ogType = "website" }}
{{ end }}

<meta property="og:type" content="{{ $ogType }}"/>
{{ if eq $ogType "article" }}
<meta property="article:author" content="{{ $author }}">
<meta property="article:published_time" content="{{ $dateTime }}">
<meta property="article:modified_time" content="{{ $lastMod }}">
{{ end }}

<meta property="og:locale" content="{{ .Site.Language.Lang }}">
<meta property="og:url" content="{{ .RelPermalink | absURL }}"/>
<meta property="og:title" content="{{ .Title }}"/>
<meta property="og:description" content="{{ $description}}"/>
<!-- if a coverImage doesn't exist, don't render meta image tag -->
{{ with .Params.coverImage }}<meta property="og:image" content="{{ $imageUrl }}"/>{{ end }}

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image"/>
<meta property="twitter:url" content="{{ .RelPermalink | absURL }}"/>
<meta property="twitter:title" content="{{ .Title }}"/>
<meta property="twitter:description" content="{{ $description }}"/>
{{ with .Params.coverImage }}<meta property="twitter:image" content="{{ $imageUrl }}"/>{{ end }}

