<section id='subscribe-form-container'>
    <form action="{{ .Site.Params.latte.mailchimpurl }}" method='post' id='mc-embedded-subscribe-form'
        name='mc-embedded-subscribe-form' target='_blank'>
        <h2>{{ .Site.Params.latte.subscribetitle }}</h2>
        <p>{{ .Site.Params.latte.subscribedescription }}
        </p>
        <small><span class='asterisk'>*</span> {{ i18n "requiredField"}}</small>
        <div class="subscribe-input-container">
            <label htmlFor='mce-EMAIL'>{{ i18n "email"}} <span class='asterisk'>*</span>
            </label>
            <input type='email' placeholder='{{ i18n "emailPlaceholder"}}' aria-label='Campo de email' value="" name='EMAIL'
                class='required email subscribe-input' required id='mce-EMAIL' required />
        </div>
        <div class="subscribe-input-container">
            <label htmlFor='mce-FNAME'>{{ i18n "name"}} <span class='asterisk'>*</span>
            </label>
            <input type='text' placeholder='{{ i18n "namePlaceholder"}}' aria-label='Campo de nombre' value="" name='FNAME'
                class='required subscribe-input' id='mce-FNAME' required />
        </div>
        <div id='mce-responses' class='clear'>
            <div class='response' id='mce-error-response' class="display-none"></div>
            <div class='response' id='mce-success-response' class="display-none"></div>
        </div>
        <div class="mailchimp-outside" aria-hidden='true'>
            <input type='text' name="{{ .Site.Params.latte.mailchimphiddenfield }}" tabIndex='-1' value='' />
        </div>
        <div class='clear'>
            <button class='subscribe-button' type='submit' name='subscribe'>{{ i18n "subscribe"}}</button>
        </div>
    </form>
</section>