<aside id="subscribe-form-modal" class="subscribe-banner display-none">
    <div aria-label="{{i18n "closeSubscribeForm"}}" class="close" id="subscribe-form-close-icon"></div>
    <div class="subscribe-message-and-button">
        <div class="show-banner-text">{{ .Site.Params.latte.subscribebannertext }}</div>
        <button id="show-subscribe-form" class="subscribe-banner-button">{{ i18n "seeMore" }}</button>
    </div>
    <div id="subscribe-form-body" class="subscribe-form display-none">{{ partial "subscribeForm.html" . }}</div>
</aside>